html {
    height: 100%;
}

.card {
  border: none;
}

.bg-image {
  position: fixed;
  left: 0;
  right: 0;

  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  height: 100%; 
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-dark {
  background-color: #292929!important;
}

.links:hover {
  background-color: #313131!important;
}