html {
    height: 100%;
}

.bg-image {
  position: fixed;
  left: 0;
  right: 0;

  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  height: 100%; 
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}