html {
  height: 100%;
}

html, body {
font-family: "Roboto", sans-serif;
}

.bg-dark {
  background-color: #151515!important;
}

.text-dark {
  color: #151515!important;
}

.text-dark a {
  color: #151515!important;
}

.links:hover {
  background-color: #313131!important;
}

.links {
  border-top: solid;
  border-top-width: 1px;
  border-top-color: #404040;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #151515;
}

::-webkit-scrollbar-thumb {
  background: #f7f7f7; 
}

::-webkit-scrollbar-thumb:hover {
  background: #f7f7f7; 
}

:root {
  scrollbar-color: #f7f7f7 #151515;
  scrollbar-width: thin !important;
}

::selection {
  background: #292929!important;
  color: white!important;
}

:root, [data-bs-theme=dark] {
  --bs-body-bg: #151515;
  --bs-body-bg-rgb: 21, 21, 21;
  --bs-link-color: #9aabff;
  --bs-link-hover-color: #8585ff;
  --bs-link-color-rgb: 172, 172, 255;
  --bs-link-hover-color-rgb: 133, 133, 255;
  --bs-primary-text: #9aabff;
}
