:root {
  scrollbar-color: var(--bs-tertiary-bg) var(--bs-dark-text-emphasis);
  scrollbar-width: thin;
  scroll-behavior: unset;
}

::selection {
  background: #292929!important;
  color: white!important;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--bs-tertiary-bg);
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 0 solid transparent;
  background-clip: content-box;
  background-color: var(--bs-dark-text-emphasis);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-dark-text-emphasis);
}

body {
  height: 100%;
  font-family: Roboto, sans-serif;
}

.bg-dark {
  background-color: #151515!important;
}

.text-dark {
  color: #151515!important;
}

.text-dark a {
  color: #151515!important;
}

.links {
  border-top: solid;
  border-top-width: 1px;
  border-top-color: #404040;
}

.links:hover {
  background-color: #313131!important;
}
