h1 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  font-size: 36px;
}

h1 small {
  font-size: 68%;
  font-weight: 400;
  line-height: 1;
}

.lead {
  font-size: 21px;
  line-height: 1.4;
}

.cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
