{%- assign sorted = site.data.projects | sort: 'n' -%}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yizack</title>
  </head>
  <body>		
    <h1>My projects</h1>
    <div id="projects">
      <ul>{% for item in sorted %}
        <li>
          <h5>{{ item.project }}</h5>{% if item.url %}
          <a href="{{ item.url}}">Website: {{ item.url}}</a>{% endif %}
          <p>Description: {{ item.description }}</p>
          <p>Year: {{ item.year}}</p>{% if item.github %}
          <a href="{{ item.github }}">GitHub: {{ item.github }}</a>{% endif %}
        </li>{% endfor %}
      </ul>
    </div>
  </body>
</html>
