{%- assign sorted = site.data.projects | sort: 'update' | reverse -%}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Yizack</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  </head>
  <body>		
    <section class="text-dark">
      <div class="container text-justify">
        <h1>Mis proyectos</h1>
        <div id="projects">
          <ul>{% for item in sorted %}
            <li class="border-bottom mb-3">
              <h5>{{ item.project }}</h5>{% if item.url %}
              <p>Website: <a href="{{ item.url }}">{{ item.url | replace: 'https://', '' }}</a></p>{% endif %}
              <p>Description: {{ item.description }}</p>
              <p>Año: {{ item.year }}</p>
              <p>Última actualización: {{ item.update }}</p>{% if item.github %}
              <p>GitHub: <a href="https://github.com/{{ item.github }}">{{ item.github }}</a></p>{% endif %}
              <p>
                {%- assign project = item.tags -%}
                {% for tags in project %}
                <span class="badge badge-primary">{{ tags.tag }}</span>
                {% endfor %}
              </p>
            </li>{% endfor %}
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
