@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ebrima;
  src: url("/fonts/Ebrima.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: ebrima;
  font-weight: 500;
  src: url("/fonts/EbrimaBd.woff2") format("woff2");
  font-display: swap;
}

body {
  letter-spacing: 0.2px;
  font-family: ebrima, sans-serif;
}
